<?xml version="1.0" encoding="utf-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/schema/10.5.xsd"
    colors="true">

    <testsuites>
        <testsuite name="default">
            <directory>tests/Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
